<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="layout" content="main"/>
</head>
<body>

<div class="row">

    <div class="col-xs-12">
        <div class="well">
            <p>
                This should evolve into a status page displaying number of zones, records, accounts, etc.,
            </p>
        </div>
    </div>


</div>

</body>
</html>